---
- name: Install Apache2
  apt:
    name: apache2
    state: present
    update_cache: yes

- name: Ensure Apache is started and enabled
  service:
    name: apache2
    state: started
    enabled: yes

- name: Create custom index.html for Apache default page
  copy:
    dest: /var/www/html/index.html
    content: |
      <html>
      <head><title>Welcome to Apache Server</title></head>
      <body>
        <h1>Apache is successfully installed and running!</h1>
      </body>
      </html>
    owner: www-data
    group: www-data
    mode: '0644'
